@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300&family=Kumbh+Sans:wght@700&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300&family=Kumbh+Sans&family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-attachment: fixed; 
}
.main-contanier {
    display: flex;
    max-width: 800px;
    height: 420px;
    background-color: white;
    margin: 8em auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.image-container {
    width: 400px;
    height: 420px;
    
}
.woman-img {
    padding-top:50px;
    padding-right: 0;
}
.faq-container {
    width: 400px;
    height: 400px;  
}
h2 {
    padding: 1em 0;
    font-family: 'Kumbh Sans';
    letter-spacing: 1px;
    font-weight: 700;
}
.content {
    margin: 0 3rem;   
}
p {
    list-style: none;
    font-size: 16px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
}
.que {
  background-color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
  text-align: left;
  outline: none;
}
.answer { 
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    color: rgb(41, 40, 40);
}
.que + .answer {
    display: none;
}
.que.is-open + .answer {
    display: block;
}